# Do not to commit this file to your source control system as it will contain sensitive secrets. If you use a CI/CD system such as Jenkins, use its mechanism for securely managing secrets and environment variables.
# Follow the 'Quick Start' section in the readme.md
EXPERIENCE_EXTENSION_UPLOAD_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ2ZXJzaW9uIjoiMC4wLjIiLCJhY2NvdW50SWQiOiJJbnRlcm5hbEVsbHVjaWFuIFByb2YgU2VydmljZXMgRTJBUCIsImVtYWlsIjoiZmFoYWQudGFqQHBhbnNvZnQtdGVjaC5jb20iLCJleHRlbnNpb25NYW5hZ2VtZW50VXJsIjoiaHR0cHM6Ly9leHBlcmllbmNlc2V0dXAtdGVzdC5lbGx1Y2lhbmNsb3VkLmNvbS5hdS9hcGkvZXh0ZW5zaW9uLW1hbmFnZW1lbnQiLCJkZXBsb3ltZW50IjoicHJvZHRlc3RhdSIsImlhdCI6MTc2NjQ4MzU0NX0.iuBY-Krtq65ts0hHH__H9UFyJZ1lJq2UzRRojQ9L3ho
EXPERIENCE_EXTENSION_ENABLED=true

# Replace Upload-token with the actual upload token